body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#0d1117;
    /* overflow-x: hidden; */
}
html{
    scroll-behavior: smooth;
}
#navigation{
    display: flex;
    padding-right:100px;
    justify-content:flex-end;
    padding-top:30px;
}
#navigation span{
    font-size:26px;
    background: linear-gradient(90deg, #3e3bf6,rgb(189, 130, 238));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip: text;
    color:transparent;
    font-family:'Poppins', sans-serif;
    font-weight:600;
    position:absolute;
    top:30px;
    left:100px;
}
#menu-icon{
    display: none;
    color: white;
    font-size: 30px;
    font-weight: 400;
    right: 20px;
    top: 20px;
    z-index: 2000;
    cursor: pointer;
}
#nav a{
    font-size:21px;
    text-decoration:none;
    color:white;
    font-family:'Poppins', sans-serif;
    transition:0.4s;
}
#nav a.active-now{
    /* text-decoration: underline solid 2.5px rgb(189, 130, 238);
    text-underline-offset:0.7rem; */
    background: linear-gradient(90deg, #3e3bf6,rgb(189, 130, 238));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip: text;
    color:transparent;
}
#nav{
    display:flex;
    gap:3rem;
    position:fixed;
    z-index: 1000;
}
#nav a:hover{
    /* text-decoration: underline solid 2.5px rgb(189, 130, 238);
    text-underline-offset:0.7rem; */
    background: linear-gradient(90deg, #3e3bf6,rgb(189, 130, 238));
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip: text;
    color:transparent;
}
#rg{
    display:flex;
    justify-content:space-around;
    gap:50px;
    width:1500px;
    height:500px;
    margin-top: 40px;
}
#pic img{
    height:450px;
    width:450px;
    border-radius: 50%;
    margin: 2px;
    border: 7px solid #0d1117;
}
#pic{
    height: 465px;
    width:465px;
    background: linear-gradient(90deg, #3e3bf6,rgb(189, 130, 238));
    border-radius: 50%;
    border :none;
    margin-right:140px;
    margin-top: 80px;
}
.stud{
    font-size:38px;
    line-height:0.1rem;
    color:white;
    padding-top:230px;
    margin-top: -30px;
    width:1500px;
    height:400px;
    margin-left:200px;
}
.stud span{
    font-size:80px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}
.stud p{
    font-size:80px;
    font-family:'Times New Roman', Times, serif;
    color:white;
    font-weight:600;
}
.stud i{
    padding-top:40px;
    font-size:32px;
    color:gainsboro;
}
.stud div{
    display:flex;
    gap:3.2rem;
}
#comptr{
    font-size:33px;
    font-weight:normal;
    color: #3e3bf6;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 4px;
    margin-top: -5px;
    font-weight: 600;
}
#about{
    padding-top:8rem;
}
#about h2{
    color:white;
    text-decoration:underline solid 3px #3e3bf6; 
    text-underline-offset: 1rem; 
    padding-left:200px;
    font-size:50px;
    font-weight:600;
}
#about span{
    font-size:30px;
    font-family:'Times New Roman', Times, serif;
    font-weight:500;
    padding-left:200px;
    color:white;
}
#about p{
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    color:white;
    padding-left: 200px;
    padding-right: 60px;
}
#about button{
    color:white;
    font-size:22px;
    background-color: rgb(0, 81, 255);
    padding:0.5rem 2rem 0.5rem 2rem;
    letter-spacing: 2px;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    border:none;
    margin-top: 20px;
    border-radius:25px;
    font-weight:400;
    margin-left:200px;
} 
#skill h1{
    text-align:center;
    font-size:55px;
    font-weight:600;
    color:white;
    padding-top:100px;
}
#skill{
    display:flex;
    flex-direction:column;
    gap:3rem;
    align-items: center;
}
.skil{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: repeat(3, 180px);
    gap: 30px;
}
.skil img{
    height:90px;
    width:80px;
}
.skil div{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#project{
    padding-top:8rem;
}
#project h1{
    font-size:50px;
    font-weight:600;
    text-align:center;
    color:white;
}
#project div{
    display:grid;
    grid-template-columns: repeat(4, minmax(350px, max-content));
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    margin-top:60px;
}
#project div div{
    margin-top: 100px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:0.1rem;
    height:280px;
    width:330px;
    background-color: rgba(128, 128, 128, 0);
    border-radius:10px;
    box-shadow: rgba(49, 93, 144, 0.541) -2px 2px 5px 1px;
    font-size:20px;
    border:none;
}
#project div div div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100px;
    width:390px;
    border-radius: 0px;
    box-shadow:none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:16px;
}
#project p{
    line-height:30px;
    color:ghostwhite;
    font-weight:300;
    margin-left:5px;
    text-align: justify;
}
#project div div div p{
    line-height:0px;
}
#project div div div p:nth-child(1){
    color:gray;
    position:relative;
    top:-40px;
}
#project span{
    font-weight: 500;
}
#project div div div p:nth-child(2){
    line-height: 26px;
    position:relative;
    top:-58px;
}
#project img{
    height:140px;
    width:320px;
    border-radius: 10px 10px 0px 0px;
    margin-left:5px;
    margin-top:5px;
    position: relative;
    top:50px;
}
#project button{
    color:white;
    background-color: rgb(0, 89, 255);
    font-size:20px;
    padding:0.4rem 2rem 0.3rem 2rem;
    border-radius:35px;
    border:none;
    margin-left:5px;
    position:relative;
    top:-60px;
}
#contact{
    padding-top:10rem;
}
#contact h1{
    font-size:50px;
    font-weight:600;
    text-align:center;
    color:white;
}
form{
    padding-top:30px;
    text-align: center;
}
form input, form button{
    width:700px;
    height:50px;
    background: rgb(40, 55, 70,0.7);
    border:none;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    color:white;
    padding-left:1rem;
}

#sub{
    height:60px;
    padding-bottom:3rem;
    width:700px;
    background: rgb(40, 55, 70,0.7);
    border:none;
    border-radius: 5px;
    font-size:20px;
    color:white;
    padding-left:1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
form button{
    background-color: rgb(0, 81, 255);
    width:720px;
}
button:active{
    transform:scale(0.9);
}
button:hover{
    cursor: pointer;
}
form i{
    position:absolute;
    top:3675px;
    left:762px;
    color:white;
    font-size:25px;
    font-family:cursive;
}
#m{
    display:flex;
    justify-content: center;
    font-size:15px;
    font-family: cursive;
    color:white;
    gap:2rem;
}
#m div{
    display:flex;
    justify-content: space-between;
    gap:0.4rem;
}
#m i{
    margin-top:20px;
}
footer{
    display:flex;
    color:white;
    margin-top:12rem;
    font-size:18px;
    font-family:serif;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.144);
}


/* TABLET */
@media screen and (max-width: 1024px) {
    /* body{
        overflow: hidden;
    } */
    #navigation{
        padding: 20px;
        justify-content: space-between;
        align-items: center;
    }
    #navigation span{
        position: static;
        font-size: 24px;
    }
    #menu-icon{
        display: block;
    }
    #nav{
        position: absolute;
        top: 70px;
        right: 20px;
        width: 190px;
        background: #161622;
        display: none;
        flex-direction: column;
        gap: 1.3rem;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.4);
    }
    #nav.show-nav{
        display: flex;
    }
    #nav a{
        font-size: 17px;
    }
    #pic img{
        /* display: none; */
        height: 250px;
        width:250px;
    }
    #pic{
        height: 265px;
        width:270px;
        margin-right: 18px;
        margin-top: -40px;
    }
    #rg{
        width: 100%;
        height:auto;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }
    .stud{
        width: 100%;
        height:auto;
        margin: 0;
        padding-top: 0;
        padding-left: 50px;
    }
    .stud span, .stud p{
        font-size: 55px;
    }
    #comptr{
        font-size: 24px;
        letter-spacing: 1px;
    }
    .stud div{
        /* justify-content: center; */
        gap: 1rem;
    }
    .stud i{
        font-size: 28px;
        padding-right: 50px;
    }

    #about{
        padding-top: 4rem;
    }
    #about h2{
        padding-left: 30px;
        font-size: 38px;
    }
    #about span{
        padding-left: 30px;
        font-size: 24px;
    }
    #about p{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
        line-height: 34px;
    }
    #about button{
        margin-left: 30px;
        font-size: 18px;
    }
    #skill h1, #project h1, #contact h1{
        font-size: 40px;
    }

    .skil{
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
        padding: 0 20px;
    }
    .skil div{
        width:90px;
        height:90px;
        font-size: 12px;
    }
    .skil img{
        width:55px ;
        height: 55px;
    }

    #proj{
        display: flex !important;
        overflow-x: auto;
        gap: 20px;
        padding: 20px;
        scroll-snap-type: x mandatory;
    }
    #proj::-webkit-scrollbar{
        display: none;
    }
    /* .pro{
        min-width:280px;
        flex-shrink: 0;
        scroll-snap-align: center;
    }
    #project div div{
        width: 290px;
        height: 260px;
    }
    #project img{
        width:280px;
        height: 125px;
    }

    #project div div div{
        width:280px;
        font-size: 14px;
    } */
    #project button{
        font-size:16px;
        padding: 0.4rem 1.5rem;
    }

    form input, form button, #sub{
        width:60%;
        font-size: 18px;
    }
    #m{
        font-size: 12px;
    }
    #m i{
        margin-top :15px;
    }
    #m div{
        justify-content: center;
        padding: 10px;
    }
    footer{
        font-size: 16px;
        text-align: center;
        padding: 10px;
    }
    
}
@media screen and (max-width:800px) {
    .stud{
        line-height: 20px;
    }
    .stud span, #name{
        font-size: 40px;
    }
    #comptr{
        font-size: 18px;
    }
    .stud i{
        padding-top: 20px;
        font-size: 19px;
    }
}
/*Phone*/
@media screen and (max-width: 600px) {

    #navigation span {
        font-size: 20px;
        top: 20px;
        left: 20px;
    }
    #menu-icon{
        font-size: 25px;
    }
    #pic{
        display: none;
    }
    .stud{
        line-height: 10px;
    }
    .stud span, #name{
        font-size: 40px;
    }
    #rg i{
        font-size: 19px;
    }
    #about h2,#project h1, #contact h1, #skill h1{
        font-size: 29px;
        font-weight: 500;
    }
    #about h2, #about span, #about p{
        padding-left: 20px;
        padding-right: 20px;
    }
    #about button{
        font-size: 17px;
    }
    #about span{
        font-size: 18px;
        font-weight: 600;
    }
    #about p{
        font-size: 18px;
        padding-right:30px ;
    }
    #about h2{
        text-decoration:underline solid 2px #3e3bf6; 
        text-underline-offset: 10px; 
    }
    .skil{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 120px);
        gap: 22px;
    }
    .skil div{
        height: 80px;
        width: 80px;
        font-size: 11px;
    }
    .pro{
        min-width: 310px;
    }
    #project img{
        width: 300px;
    }
    #project div div div{
        font-size: 15px;
    }
    #project button{
        font-size: 13px;
    }

    form input, form button {
        width: 60%;
        height: 40px;
        font-size: 14px;
    }
    #sub{
        width:60%;
        font-size: 14px;
    }

    #m {
        font-size:10px;
        gap: 3px;
    }
    footer{
        font-size:12px;
    }
}